h1 {
    color: #fff;
}
body {
    background-color: rgb(105, 104, 104);
    color: #fff;
    text-align: center;
    font-size: 24px;
}
form {
    width: 430px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background-color: #000;
    color:#fff;
    height: 300px;
    margin: 0 auto;
}
label {
    display: flex;
    margin: 10px;
    margin-top: 10px;
}
input {
    padding: 15px;
    width: 350px;
    margin: 10px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
}
button {
    padding: 10px;
    width: 180px;
    border-radius: 30px;
    margin-top: 10px;
    font-size: 16px;
    background-color: blue;
    border: none;
    color: #fff;
}
button:hover {
    color: rgb(98, 98, 211);
}
